* {
  box-sizing: border-box;
  font-size: 15px;
}

#wrapper {
  margin: 10%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px 400px;
}

.box {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

#header {
  padding: 10px;
  background-color: #bebaac;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 20px;
}

#sidebar {
  background-color: #bebaac;
  grid-column: 1;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

#main {
  background-color: #bebaac;
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.projects {
  order: 2;
  margin: 2%;
  border: 1px solid rgb(0, 0, 0);
  background-color: #eceae1;
  height: 50px
}

.projects:hover {
  background-color: #d8d4c2;
}

#projectBtn {
  order: 1;
  align-self: center;
  width: 30%;
  height: 15%;
  margin: 2%;
  background-color: #d46157;
  border-radius: 50%;
  border: 1px solid rgb(8, 6, 6);
  box-shadow: 0cm;
  color: #eceae1;
}

#projectBtn:hover {
  background-color: #af372c;
}

#inputPopup{
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  order: 0;
}